grant {  
 permission java.net.SocketPermission "downloadDirectory="c:\\home\\test\\download\\-:1024-65535", "connect";
 permission java.net.SocketPermission "downloadDirectory="c:\\home\\test\\download\\-:80", "connect";
 permission java.io.FilePermission "downloadDirectory", "read";
 permission java.security.AllPermission "", "";
};